.page__header {
  width: 100%;
  //max-width: 1440px;
  padding: 28px 120px 28px 0;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

@media screen and (max-width: 560px) {
  .page__header {
    padding: 25px 18px 30px 0;
  }
}
