.about__fixed-bike-wrapper {
  position: absolute;
  top: 347px;
  right: 0;
  width: 810px / 1440px * 100vw;
  height: 430px / 1440px * 100vw;
}

@media screen and (max-width: 560px) {
  .about__fixed-bike-wrapper {
    top: calc(151 / 320 * 100vw + 160px);
    left: 0;

    width: 181px / 320px * 100vw;
    height: 197px / 320px * 100vw;

    padding: 0 18px;
  }
}
