.about__link {
  grid-column: 1/2;
  grid-row: 3/4;

  box-sizing: border-box;
  width: 180px;
  height: 50px;
  background: #24B47E;
  border-radius: 4px;
  padding: 16px 10px;

  font-weight: 600;
  text-decoration: none;
  color: $bg-color-light;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;

  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: #319E75;
    ;
  }
}
