.quote__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  margin: 0;
  margin-bottom: 6px;
}

@media screen and (max-width: 560px) {
  .quote__author {
    font-size: 14px;
    line-height: 22px;

    margin-bottom: 4px;
  }
}