.covers__title {
  grid-column: 1;
  grid-row: 1/2;

  width: 100%;
  overflow: hidden;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 0;
}

@media screen and (max-width: 560px) {
  .covers__title {
    grid-column: 1;
    grid-row: 1/2;

    z-index: 1;
    font-size: 32px;
    line-height: 40px;
  }
}
