.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(180px) fit-content(112px) 50px 1fr;
  column-gap: 250px / 1440px * 100vw;
  row-gap: 50px;

  padding: 20px 0 0 120px;

  position: relative;
}

.about__title {
  grid-column: 1/2;
  grid-row: 1/2;

  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;

  margin: 0;
  margin-top: 60px;
}

.about__subtitle {
  grid-column: 1/2;
  grid-row: 2/3;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  margin: 0;
}

.about__link {
  grid-column: 1/2;
  grid-row: 3/4;

  box-sizing: border-box;
  width: 180px;
  height: 50px;
  background: #24B47E;
  border-radius: 4px;
  padding: 16px 10px;

  font-weight: 600;
  text-decoration: none;
  color: $bg-color-light;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.about__bike-name-wrapper {
  grid-column: 1/2;
  grid-row: 4/5;
  /* align-self: end; */

  display: flex;
  /* padding-top: 117px; */
  padding-top: 117px / 1440px * 100vw;
}

.about__bike-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  margin: 0;
  margin-right: 30px;
}

.about__line {
  width: 132px;
  height: 2px;
  background: #D7D4D4;
  margin-top: 10px;
}

.about__image {
  grid-column: 2/3;
  grid-row: 1/5;

  object-fit: contain;
  width: 610px / 1440px * 100vw;
  max-width: 610px;
  max-height: 100%;
}

.about__fixed-bike-wrapper {
  position: absolute;
  top: 327px;
  right: 370px;

  display: flex;
  justify-content: center;

  width: 810px;
  height: 430px;

}

.about__fixed-bike {
  position: sticky;
  top: 0px;
  width: 440px;
  height: 330px;
}
