.trainings__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);

  margin: 0;
  margin-right: 30px;
  padding: 0;

  transition: opacity .3s ease-in-out;

  &:hover{
    opacity: var(--opacity-link);
  }

  &:last-of-type {
    margin-right: 0;
  }
}
