.footer {
  background-color: var(--bg-color-footer);
}

.footer__alert {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  font-size: 14px;
  line-height: 16px;

  margin-top: 10px;
}

.footer__bottom-zone {
  display: flex;
  justify-content: space-between;
}

.footer__switcher-wrapper {
  position: relative;
}

@media screen and (max-width: 560px) {
  .footer__switcher-wrapper {
    display: none;
  }
}

.switcher {
  border: none;
  margin: 0;
  padding: 0;
  background-color: var(--footer-switcher-color);
  width: 44px;
  height: 24px;
  border-radius: 24px;
  display: flex;
}

.footer__switcher {

}

.footer__logo {
  display: none;
}

@media screen and (max-width: 560px) {
  .footer__logo {
    display: inline-block;
  }
}

.switcher__legend {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switcher__label {
  background-color: transparent;
  display: block;
  position: absolute;
}
.switcher__label_light {
  background-image: var(--icon-sun);
  background-size: 28px;
  width: 28px;
  height: 28px;
  left: -50px;
  top: -2px;

}

.switcher__label_dark {
  background-image: var(--icon-moon);
  background-size: 20px;
  width: 20px;
  height: 20px;
  left: 66px;
}

.switcher__button {
  appearance: none;
  width: 24px;
  height: 24px;
}

.switcher__element {
  width: 20px;
  height: 20px;
  background: #24B47E;
  box-shadow: 0px 0px 0px #FFFFFF;
  border-radius: 20px;

  position: absolute;
  top: 2px;
  left: 2px;

  transition: transform .2s ease-in-out;
}
