.page__footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 120px 60px 120px;
  box-sizing: border-box;
}

@media screen and (max-width: 560px) {
  .page__footer {
    padding: 60px 18px 16px 18px;
  }
}